/*footer*/

.container-footer {
    background-color: #4d4d4d;
    font-size: 0.7em;
    text-align: center;
    padding: 25px ;
    

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        font-size: 17px;
        &:hover {
            color: rgb(0, 0, 0);
        }

    }

    i {
        padding: 10px;
        font-size: 25px;
        color: black;
        &:hover {
            color: #ffffff;
        }
    }

}


