.container-filtros {
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 20px;

    .containercollapse {
        padding: 0px;
        #containerColappse {
            display: flex;
            justify-content: end;
            margin: 30px;
            padding: 0px;
        }
    }
        
        #min-price {
            width: 250px;
        }
        #max-price {
            width: 250px;
        }
    
    
    .btn-primary-filtros {
        
        width: 130px;
        margin: 30px 0px 0px 50px ;
        color: #ffffff;
        background-color: #969696bc;
        &:hover {
            border: none;
            background-color: #a8a8a8;
        }
    }


        .btn-primary-filtrar {
            margin: 10px 10px;
            color: #ffffff;
            background-color: #969696bc;
            &:hover {
                border: none;
                background-color: #a8a8a8;
            }
        }
    
}

