@media screen and  (max-width: 480px) {
    
    
    .container-publicidad #publicidad #carouselExampleAutoplaying { 
            width: 90%;
            height: auto; }
    
    .card {
        width: 500px;
    }


        .container-seleccionadas {
            padding: 0px 155px;
            
        
    }

    .navbar .navbar-collapse {
        display: flex;
        justify-content: start;
    }


    
    
}




@media screen and (max-width: 1200px) {
    .container-filtros {
        .btn-primary-filtros {
        margin:30px 30px;
    }
    }
}