@media screen and  (max-width: 1200px) {

    .container-publicidad-mujeres{
    
        display: flex;
        justify-content: center;
        width: 100%;

        #publicidad-mujeres {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;

            #carouselExampleAutoplaying {
                display: flex;
                justify-content: center;
                width: 98%;
                height: auto;
                
                border: none;
                .carousel {
                    width:100% ;
                    display: flex;
                    justify-content: center;
                        
                }

                .carousel-item img {
                    width: 700px;
                    height: 600px;
                    display: flex;
                    justify-content: center;
                    border:none;

                }

            }
        }
            
    }

}

@media screen and  (max-width: 768px) {

    /* header*/

    header {
        .navbar-collapse{
            display: flex;
            justify-content: start;
        }

        .busqueda {
            display: flex;
                justify-content: center;
            .form-control {
                display: flex;
                    justify-content: center;
                width: 250px;
                .search-field {
                    display: flex;
                    justify-content: center;
                    
                }

            }
            
            
        }
    }

}
@media screen and  (max-width: 480px) {

    /* header*/

    header {
        .navbar-collapse{
            display: flex;
            justify-content: start;
        }

        .busqueda {
            display: flex;
                justify-content: center;
            .form-control {
                display: flex;
                    justify-content: center;
                width: 150px;
                .search-field {
                    display: flex;
                    justify-content: center;
                    
                }

            }
            
            
        }
    }

    /*MQ filtros*/
    .container-filtros {
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
            .btn-primary-filtros {
            margin:30px 30px;
            }
        
            .filtros-generales {
                width: 0%;
            }
    }

    /*MQ publicidad Index*/
    #publicidad {
        #carouselExampleAutoplaying {
            .carousel-item img {
                width: 900px;
                height: 200px;
            }
        }
    }

    
    /*MQ publicidad Mujeres*/
    #publicidad-mujeres{
        #carouselExampleAutoplaying {
        .carousel-item img {
        width: 900px;
        height: 200px;
        }  
    }
    } 

    /*Descuentos niños*/

    .container-descuentos-niños {
        display: flex;
        justify-content: center;
        width: 90%;
        .img-descuentos {
        width: 200px;
        }

    }
}





    
    
    
    
    
    
