@media screen and  (max-width: 480px) {
    .container-filtros {
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
            .btn-primary-filtros {
            margin:30px 30px;
            }
        
    }
    
    
    
    .container-publicidad #publicidad #carouselExampleAutoplaying { 
        width: 90%;
        height: auto; }
    
    .card {
        width: 500px;
    }


        .container-seleccionadas {
            padding: 0px 155px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            
        
    }

    .navbar .navbar-collapse {
        display: flex;
        justify-content: start;
    }


    
    
}




@media screen and (max-width: 1200px) {
    
}