
/* Publicidad*/



#publicidad {
    display: flex;
    justify-content: center;
        
    #carouselExampleAutoplaying { 
        display: flex;
        justify-content: center;
        width: 60%;
        height: 60%;

        .carousel {
            width:100% ;
            display: flex;
            justify-content: center;
                
        }

        .carousel-item img { 
            height: 700px;
            width: 300px;
            display: flex;
            justify-content: center;
            border: 2px ride #5d5d5d;
        }
    }
        
}
#grid-layout {
    background-color: rgb(113, 37, 37);
    margin: 0px 0px;
    padding:0px 0px;
    /* productos */

    #productos { 
        margin: 30px 30px;
        padding: 25px;
        display: flex;
        justify-content: center;
    
        .card { 
            width: 95%;
            height: auto;
            margin: 10px 0px;
            padding: auto;
            border: solid 01px rgb(19, 19, 19);
        
            
        

            .card-img-top {
                margin: 0px 0px;
                padding: 0px 0px;
                &:hover {
                    transform: scale(1.1);
                }
                
            }

            .card-body {
                height: 170px;
            
                .card-title {
                    text-align: start;
                    
                }
                .card-text {
                    font-size: 1.3em ;
                    text-align: start;
                    font-weight: bold
    
                }
                .btn-primary {
                    border:solid black 0.1px ;
                    background-color: #515050;
                    &:hover {
                        border: none;
                        background-color: #c1bebe;
                    }
                
                }
                
            }
            
        }
    }


    /* descuento*/

    .container-descuentos { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        margin: 25px auto; 
    
        img {
            display: flex;
            justify-content: center;
            border-radius: 5px;
        }

    }

    /*marcas seleccionadas*/

    .container-seleccionadas {
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            
            
            padding: 15px 5px;
            width: 200px;
            &:hover {
                transform: scale(1.2);
            }
        
        }
    
    }

    .container-formulario {
        padding: 40px 55px 55px 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(87, 32, 13);
        .form-label {
            color: #fff;
        }
        .form-text {
            color: #fff;
        }

        .btn-primary {
            border:solid black 0.1px ;
            background-color: #515050;
            &:hover {
                border: none;
                background-color: #c1bebe;
            }
        
        }
    

    }

}

























