
#grid-layout-mujeres  {
    display: grid;
    grid-template-columns: 100% ;
    background-color: rgb(156, 97, 107);
    margin: 0px 0px;
    padding: 0px 0px;

    .container-filtros {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: auto;
    }

    .descripcion-pagina {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
        padding: 30px;
        background-color: rgba(221, 143, 122, 0.613);
    }
        
    .container-descuentos { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 89%;
        border: none;
        
        margin: 15px auto; 
    
        img {
            display: flex;
            justify-content: center;
            border-radius: 5px;
        }

    }
    
    #productos { 
        margin: 0px 30px;
        padding: 20px;
        display: flex;
        justify-content: center;
        
        .card { 
            width: 100%;
            height: auto;
            margin: 10px 0px;
            padding: auto;
            border: solid 01px rgb(19, 19, 19);
        
            
        

            .card-img-top {
                margin: 0px 0px;
                padding: 0px 0px;
                &:hover {
                    transform: scale(1.1);
                }
                
            }

            .card-body {
                height: 170px;
            
                .card-title {
                    text-align: start;
                    
                }
                .card-text {
                    font-size: 1.3em ;
                    text-align: start;
                    font-weight: bold;
                    color: black;
                
    
                }
                .btn-primary {
                    border:solid black 0.1px ;
                    background-color: #515050;
                    &:hover {
                        border: none;
                        background-color: #c1bebe;
                    }
                
                }
                
            }
            
        }
    }
    
    
    .container-publicidad-mujeres{
    
        display: flex;
        justify-content: center;
        width: 100%;

        #publicidad-mujeres {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;

            #carouselExampleAutoplaying {
                display: flex;
                justify-content: center;
                width: 98%;
                height: auto;
                
                border: none;
                .carousel {
                    width:100% ;
                    display: flex;
                    justify-content: center;
                        
                }

                .carousel-item img {
                    width: 700px;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    border:none;

                }

            }
        }
            
    }
    .container-seleccionadas {
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            padding: 15px 5px;
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    
}