#grid-layout-ninos  {
    display: grid;
    grid-template-columns: 100% ;
    background-color: rgb(134, 106, 236);
    margin: 0px 0px;
    padding: 0px 0px;

    .container-filtros {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: auto;
    }
    .descripcion-pagina {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
        padding: 30px;
        background-color: rgba(112, 155, 210, 0.613);
    }
        
    .container-descuentos { 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px auto; 
        width: 90%;
        height: auto;
    
        .img-descuentos {
        
            display: flex;
            justify-content: center;
            width: 1680px;
        }

    }
    
    #productos { 
        margin: 30px 60px;
        padding: 20px;
        display: flex;
        justify-content: center;
        
        .card { 
            width: 100%;
            height: auto;
            margin: 10px 0px;
            padding: auto;
            border: solid 01px rgb(19, 19, 19);
        
            
        

            .card-img-top {
                margin: 0px 0px;
                padding: 0px 0px;
                &:hover {
                    transform: scale(1.1);
                }
                
            }

            .card-body {
                height: 170px;
            
                .card-title {
                    text-align: start;
                    
                }
                .card-text {
                    font-size: 1.3em ;
                    text-align: start;
                    font-weight: bold;
                    color: black;
                
    
                }
                .btn-primary {
                    border:solid black 0.1px ;
                    background-color: #515050;
                    &:hover {
                        border: none;
                        background-color: #c1bebe;
                    }
                
                }
                
            }
            
        }
    }
    

    #publicidad-ninos {
        
        display: flex;
        justify-content: center;
            
        #carouselExampleAutoplaying { 
            display: flex;
            justify-content: center;
            width: 93%;
            border: none;
            
            .carousel {
                width:80% ;
                display: flex;
                justify-content: center;
                    
            }
    
            .carousel-item img { 
                height: 700px;
                display: flex;
                justify-content: center;
                border: 2px ride #5d5d5d;
            }
        }
            
    }

    .container-seleccionadas {
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0px 0px;
        img {
            margin: 25px;
            width: 200px;
            &:hover {
                transform: scale(1.2);
            }
        
        }
    }

}